<h4>ID: <%= book_instance._id %></h4>

<p><strong>Title:</strong>
  <a href="<%= book_instance.book.url %>"><%= book_instance.book.title %></a>
</p>

<p><strong>Imprint:</strong> <%= book_instance.imprint %></p>

<p><strong>Status:</strong>
  <% if (book_instance.status === 'Available') { %>
    <span class="text-success"><%= book_instance.status %></span>
  <% } else if (book_instance.status === 'Maintenance') { %>
    <span class="text-danger"><%= book_instance.status %></span>
  <% } else { %>
    <span class="text-warning"><%= book_instance.status %></span>
  <% } %>
</p>

<% if (book_instance.status !== 'Available') { %>
  <p><strong>Due back:</strong> <%= book_instance.due_back_formatted %></p>
<% } %>

<p>
  <a href="<%= book_instance.url %>/update">Update this book instance</a>
</p>
<p>
  <a href="<%= book_instance.url %>/delete">Delete this book instance</a>
</p>